<% content_for(:title, 'プロフィール') %>
<div class="profile-wrapper">
  <%= render 'profile' %>
  <div class="profile-tab">
    <div class="profile-tab-item tab-selected">
      <i class="bi bi-border"></i><span>自分の投稿</span>
    </div>
    <div class="profile-tab-item">
      <%= link_to fav_index_user_path do %>  
        <i class="bi bi-bookmark-heart"></i><span>お気に入り</span><% end %>
    </div>
  </div>
</div>
