<% content_for(:title, '') %>
<div class="profile-wrapper">
  <h2>あなたのプロフィール</h2>
  <ul class="profile-list">
    <li>
      <h4>名前</h4>
      <span><%= @user.name %></span>
    </li>
    <li>
      <h4>メールアドレス</h4>
      <span><%= @user.email %></span>
    </li>
  </ul>
  <div>
  </div>
</div>
