<div class="post-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <%= render partial: "form", locals: { formtitle: "投稿を編集", btnlabel:"保存する" } %>
    </div>
  </div>
</div>
