<div class="post-wrapper">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <%= render partial: "form", locals: { formtitle: "投稿の作成", btnlabel:"投稿する" } %>
    </div>
  </div>
</div>
